{% extends 'base.html' %}


{% block title %}Centre List{% endblock %}


{% block content %}

<h1>UK Online Centres</h1>

<form action="{% url centres.views.centre_list %}" method="get">
    <label for="form_postcode">Postcode:</label>
    <input type="text" name="postcode" id="form_postcode" value="{% firstof postcode %}" />
    <input type="submit" value="Search" />
</form>


<ul>
{% for centre in object_list %}

    <li><a href="{% url centres.views.centre_detail centre_id=centre.id %}">{{ centre.name }} ({{ centre.distance }})</a></li>

{% empty %}

    {% if postcode %}
    <li>No centres found near {{ postcode }} - sorry.</li>
    {% else %}
    <li>Please search for a postcode</li>
    {% endif %}

{% endfor %}
</ul>

{% include 'generic_pagination.html' %}

{% endblock %}