{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="standard" method="post" action="{% url django.contrib.auth.views.login %}">

    <p>
        <label for="id_username">Email</label>
        {{ form.username }}
    </p>

    <p>
        {{ form.password.label_tag }}
        {{ form.password }}
    </p>
    
    <p>
        <label for="form_submit">&nbsp;</label>
        <input type="submit" id="form_submit" value="Login" />
    </p>

    <input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock %}
