{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

<p>
    Forgotten your password? Enter your e-mail address below, and we'll e-mail
    instructions for setting a new one.
</p>

<form class="standard" method="post" action="{% url django.contrib.auth.views.password_reset %}">

    {{ form.as_p }}
    
    <p>
        <label for="form_submit">&nbsp;</label>
        <input type="submit" id="form_submit" value="Reset my password" />
    </p>

</form>

{% endblock %}
