<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>{% block title %}{% endblock %} :: UK Online Centres</title>

        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8">
        <!--[if IE 6]>
            <link rel="stylesheet" href="/static/css/ie6.css" type="text/css" media="screen" charset="utf-8">
        <![endif]-->
        
    </head>
    <body>

        <div id="bg"><img src="/static/dandelion_head.jpg" alt=""></div>

        <div id="outer_wrapper">
            <div id="inner_wrapper">
        
                <div id="menu">
                    <a id="ukonline_logo" href="{% url tutordb.views.tutor.index %}">
                        <img src="/static/ukoclogosmaller.png" alt="Home" />
                    </a>

                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                {{ user.email }}
                                (<a href="{% url django.contrib.auth.views.logout %}">Logout</a>)
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url django.contrib.auth.views.login %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>

                    <br clear="both" />
                </div>
                
                <div id="content">
                    {% block content %}
                        Replace this with proper content.
                    {% endblock %}    
                    <br clear="both" />
                </div>
                
                <div id="footer">
                    <a id="mysociety_logo" href="http://www.mysociety.org" title="Built by mySociety">
                        <img src="/static/mysociety_small.png" alt="mySociety" />
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>
