<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>{% block title %}{% endblock %} :: UK Online Centres</title>

        <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8">
        

        <!--[if IE 6]>
        <style type="text/css">
        /* some css fixes for IE browsers */
        html {overflow-y:hidden;}
        body {overflow-y:auto;}
        #bg {position:absolute; z-index:-1;}
        #content {position:static;}
        </style>
        <![endif]-->
        
    </head>
    <body>

        <div id="bg"><img src="/static/dandelion_head.jpg" alt=""></div>

        <div id="outer_wrapper">
            <div id="inner_wrapper">
        
                <div id="menu">
                    <a id="ukonline_logo" href="{% url tutordb.views.tutor.index %}">
                        <img src="/static/ukoclogosmaller.png" alt="Home" />
                    </a>

                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                {{ user.email }}
                                (<a href="{% url django.contrib.auth.views.logout %}">logout</a>)
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url django.contrib.auth.views.login %}">login</a>
                                or
                                <a href="{% url tutordb.views.tutor.create_tutor %}">create an account</a>                        
                            </li>
                        {% endif %}
                    </ul>

                    <ul>
                        <li><a href="{% url tutordb.views.centre.centre_list %}">Centres</a></li>
                    </ul>
                    
                    <br clear="both" />
                </div>
                
                <div id="content">
                    {% block content %}
                        Replace this with proper content.
                    {% endblock %}    
                </div>
                
                <div id="footer">
                    <a id="mysociety_logo" href="http://www.mysociety.org">
                        <img src="/static/mysociety_small.png" alt="mySociety" />
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>
