{% load url_with %}

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">

        <span class="previous_buttons">
        {% if page_obj.has_previous %}
            <a
                href="{% url_with page 1 %}"
                title="first"
            ><img src="/static/resultset_first.png"></a>
            <a
                href="{% url_with page page_obj.previous_page_number %}"
                title="previous"
            ><img src="/static/resultset_previous.png"></a>
        {% else %}
            &nbsp;
        {% endif %}
        </span>

        <span class="current">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>


        <span class="next_buttons">
        {% if page_obj.has_next %}
            <a
                href="{% url_with page page_obj.next_page_number %}"
                title="next"
            ><img src="/static/resultset_next.png"></a>
            <a
                href="{% url_with page page_obj.paginator.num_pages %}"
                title="last"
            ><img src="/static/resultset_last.png"></a>
        {% endif %}
        </span>

    </span>
</div>
{% endif %}
