{% extends 'base.html' %}

{% block title %}TODO{% endblock %}

{% block content %}

<h1>Todo Items</h1>


<h2>Certificates</h2>

<ul>
    <li>Scale down text if it is too large for single rows</li>
    <li>Limit template choice to those still marked as 'active'</li>
    <li>??? allow users to edit certificates</li>
    <li>??? put in some access controls for the certificates</li>
</ul>


<h2>Design related</h2>

<ul>
    <li>Add javascript to prevent the font flash</li>
    <li>Switch to web-safe fonts instead of droid</li>    
</ul>


<h2>Administrivia</h2>

<ul>
    <li>Allow users to edit their details</li>
    <li>Allow user to unlink centres from their accounts</li>
    <li>Forgotten password email reminder</li>
</ul>


<h2>Code</h2>

<ul>
    <li>Add centre scraper to cron (and mute output)</li>    
    <li>Tests</li>
    <li>fix double commas and ALL CAPS in the centre addresses</li>
</ul>

{% endblock %}