{% extends 'base.html' %}

{% block title %}TODO{% endblock %}

{% block content %}

<h1>Todo Items</h1>


<h2>Requested changes</h2>

<ul>

    <li>Email certificates directly to the learner.</li>

    <li>Add new certificates (using examples provided).</li>

    <li>Admin search box to see how often terms are used in the certificates - eg "digital photography"</li>

</ul>


<h2>Access controls</h2>

<ul>
    <li>??? Should centre managers approve tutors for their centres before the tutors can create certificates.</li>
</ul>

<h2>Certificates</h2>

<ul>
    <li>??? allow users to edit certificates</li>
</ul>


<h2>Design related</h2>

<ul>
    <li>Add google analytics or other tracking?</li>
</ul>


<h2>Administrivia</h2>

<ul>
    <li>Allow user to unlink centres from their accounts</li>
</ul>


<h2>Code</h2>

<ul>
    <li>Add centre scraper to cron (and mute output)</li>    
    <li>Tests</li>
    <li>fix double commas and ALL CAPS in the centre addresses</li>
    <li>Move fixtures from groups.json to initial_data.json once upgrade to 1.2 done on servers (uses natural keys)</li>
</ul>

{% endblock %}