{% extends 'base.html' %}

{% block title %}TODO{% endblock %}

{% block content %}

<h1>Todo Items</h1>

<h2>Access controls</h2>

<ul>
    <li>Head Office - group providing access to the Djago admin interface - may see/edit everything</li>
    <li>Centre Managers - see details of tutors in their centres. See certificates for their centres. No editing rights.</li>
    <li>Tutors - Edit their own personal details and create/edit certificates.</li>
    <li>??? Should centre managers approve tutors for their centres before the tutors can create certificates.</li>
</ul>

<h2>Certificates</h2>

<ul>
    <li>??? allow users to edit certificates</li>
</ul>


<h2>Design related</h2>

<ul>
    <li>...</li>
</ul>


<h2>Administrivia</h2>

<ul>
    <li>Allow user to unlink centres from their accounts</li>
</ul>


<h2>Code</h2>

<ul>
    <li>Add centre scraper to cron (and mute output)</li>    
    <li>Tests</li>
    <li>fix double commas and ALL CAPS in the centre addresses</li>
</ul>

{% endblock %}