/* START CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block; }
body { line-height: 1; }
ol,
ul { list-style: none; }
blockquote,
q { quotes: none; }
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End CSS reset */


body {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#container {
  width: 940px;
  margin: 20px auto;
  text-align: left;
}
#header {
  overflow: hidden;
  border-bottom: 1px solid #B2BFD3;
  padding-bottom: 20px;
  width: 100%; /* For IE6 */
}
#logo {
  float: left;
  width: 393px;
  height: 109px;
}
.sharethis {
  width: 250px;
  margin: 0 0 10px -4px;
  _margin-left: 0;
  float: left;
  clear: left;
}
#smLinks {
  width: 230px;
  float: right;
  font-size: 0.7em;
  color: #999;  
}
#smLinks img {
  margin: 5px 0 0 0;  
}


/* Homepage */
#homepageTop {
  overflow: hidden;  
}
#homepageMedia {
  width: 560px;
  float: left;  
}
#homepageIntro {
  margin-left: 580px;
}
.reasons {
  margin: 30px 0;
  overflow: hidden;
  clear: both; /* For IE6*/
  width: 100%; /* For IE6 */
}
.reason {
  float: left;
  width: 172px;
  margin-right: 20px;
  color: #333;
  font-size: 0.9em;
  line-height: 1.2;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-radius: 0 0 8px 8px;
  padding: 0;
}
.reason a {
  text-decoration: none;
  color: #333;
  display: block;
}
.reason p {
  margin:0;
}
.reason p a {
  padding: 0 10px 18px 10px;  
}
.reason a:link { color: #333; }
.reason a:visited { color: #000; }
.reason a:hover {  color: #555; }
.reason a:active { color: #555; }

.reasons .last {
  margin-right: 0;  
}
.reason h2 {
  margin: 0;  
 font-weight: 800;
  font-size: 1.6em;
}
.reason h2 a {     
  padding: 18px 10px 0 10px;
}
.reasons .pink h2 a:link { color: #eb008b; }
.reasons .orange h2 a:link { color: #f0591f; }
.reasons .yellow h2 a:link { color: #df9901; }
.reasons .green h2 a:link { color: #00a550; }
.reasons .darkblue h2 a:link { color: #0076bf; }

.reasons .pink h2 a:hover { color: #FF0097; }
.reasons .orange h2 a:hover { color: #FF5D1F; }
.reasons .yellow h2 a:hover { color: #FFAF00; }
.reasons .green h2 a:hover { color: #00D266; }
.reasons .darkblue h2 a:hover { color: #0088DD; }

.reasons .pink h2 a:visited { color: #910056; }
.reasons .orange h2 a:visited { color: #AB3E15; }
.reasons .yellow h2 a:visited { color: #8D6000; }
.reasons .green h2 a:visited { color: #00592B; }
.reasons .darkblue h2 a:link { color: #003C62; }

.reasons .pink { background: #fbcce8 url(../images/boxes/pink.png) no-repeat left top; }
.reasons .orange { background: #fcded3 url(../images/boxes/orange.png) no-repeat left top; }
.reasons .yellow { background: #ffefcc url(../images/boxes/yellow.png) no-repeat left top; }
.reasons .green { background: #cceddc url(../images/boxes/green.png) no-repeat left top; }
.reasons .darkblue { background: #cce4f2 url(../images/boxes/darkblue.png) no-repeat left top; }



/* Nav */
ul#nav {
  overflow: hidden;
  margin: 20px 0;
  clear: both; /* For IE6*/
  
}
ul#nav li {
  float: left;
  width: 150px;
  margin: 0 0 0 8px;
  display: inline; /* for IE */
}
ul#nav li.home {
  margin-left: 0;  
}
ul#nav a {
  text-decoration: none;
  color: #eee;
  display: block;
  text-align: center;
  padding: 5px 8px 3px;
  height: 20px;
  font-weight: 700;
  font-size: 0.9em;  
}
ul#nav a:hover {
  color: #fff;
}
ul#nav .blue { background: #0099df url(../images/nav/blue.png) no-repeat left top;  }
ul#nav .pink { background: #eb008b url(../images/nav/pink.png) no-repeat left top; }
ul#nav .orange { background: #f0591f url(../images/nav/orange.png) no-repeat left top; }
ul#nav .yellow { background: #df9901 url(../images/nav/yellow.png) no-repeat left top; }
ul#nav .green { background: #00a550 url(../images/nav/green.png) no-repeat left top; }
ul#nav .darkblue { background: #0076bf url(../images/nav/dark-blue.png) no-repeat left top; }

ul#nav .blueActive a { color: #0099df; } 
ul#nav .pinkActive a { color: #eb008b; } 
ul#nav .orangeActive a { color: #f0591f; } 
ul#nav .yellowActive a { color: #df9901; } 
ul#nav .greenActive a { color: #00a550; } 
ul#nav .darkblueActive a { color: #0076bf; } 

ul#nav li.active { background-position: 0 -32px; }



/* counter */
.counter {
  float: right;
  clear: right;
  width: 230px;
  padding-top: 10px;
  height: 48px /* This fixes FF2 */;
}
.counter p {
  font-weight: bold;
  font-size: 0.75em;
  margin: 0;
  padding: 0 0 6px 0;
  clear: both;
  color: #004585;
  line-height: 1.0em;
}
.counter span {
  background: url('../images/counterbg.gif') top left repeat-x;
  display: block;
  float: left;
  margin-right: 4px;
  font-size: 1.7em;
  color: #004585;
  font-weight: bold;
  width: 27px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
}
.counter span.disabled {
  background: url('../images/counterbg.gif') top left repeat-x;
  display: block;
  float: left;
  margin-right: 4px;
  font-size: 1.7em;
  color: #CCC6C9;
  font-weight: bold;
  width: 27px;
  height: 30px;
  text-align: center;
  padding-top: 2px
}


/* Media */
.media {
  margin-bottom: -3px;
  _margin-bottom: 0; /* For IE6 */  
}
.mediaTab {
  float: left;
  background: #6b6b6b url(../images/media-tab-bground.png) repeat-x center bottom;
  color: #eee;
  text-align: center;
  padding: 8px 0;
  font-size: 0.8em;
  border-right: 2px solid #fff;
  cursor: pointer;
}
.mediaTabHover {
  color: #fff;  
}
.mediaTabActive {
  background: #006B9D url(../images/media-tab-bground-active.png) repeat-x center bottom !important;
}
.lastMediaTab {
  border-right: none;
  background-position: right bottom !important;  
}
.firstMediaTab {
  background-position: left bottom !important;  
}


/* Signposts */
#signposts {
  overflow: hidden;
  clear: both;  
  width: 100%; /* For IE6 */
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;  
  padding: 30px 0;
}
.signpostWithBorder {
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #e8e8e8 url(../images/signpost-bground.png) no-repeat left top;
  padding: 10px;
  color: #333;
}
#signposts.emptySignposts {
  border-top: none;
  padding: 15px 0;  
} 
.signpostNoBorder {
}
.signpost {
  float: left;
  font-size: 0.8em;
  margin-right: 20px;
  display: inline; /* For IE6 */
}
.wideSignpost {
  width: 538px;
  _width: 533px;  
}
.narrowSignpost {
  width:   360px;
}
.lastSignpost {
  margin-right: 0;  
}
.centreSearch {
  width:   158px;
  height: 122px;
}
.signpost input {
  margin-bottom: 6px;  
}
.signpostSpeechbubble {
  background: url(../images/banners/speechbubbles/kids.png) no-repeat left top;
  height: 127px;
  width: 160px;
  padding: 20px 20px 0 180px;  
  font-size: 1.15em;
  line-height: 1.1;
  color: #333;  
}

/* footer */
#footer {
  margin: 20px 0;
  overflow: hidden;
  clear: both; /* For IE6 */  
}
ul#footerLinks {
  width: 560px;
  float: left;
  margin-left: -10px;
  _margin-left: -5px;/* For IE6 */  
  clear: left;
}
ul#footerLinks li {
  float: left;
  border-right: 1px solid #e0e0e0;
  padding: 0 10px;
  margin: 0 0 0.5em 0;  
  white-space: nowrap;
  font-size: 0.65em;
  line-height: 1.3;
}
#sponsors {
  margin-left: 580px;
}  
#footer #sponsors h2 {
  float: none;  
}
#sponsors img {
  margin: 5px 10px 0 0;  
}
#footer h2 {
  font-size: 0.8em;
  float: left;  
}

/* Why should I? lightbox */
#why {
  width: 900px;
  background: #f2f2f2;
  padding: 10px;
}
#fancybox-content {
  text-align: left;
}
.tabPanel {
  position: relative;  
}
.tabPanel h3 {
  width: 266px;
  background: #999 url(../images/tab-panel-bground.png) no-repeat 0px 0px;
  color: #fff;
  font-weight: 800;
  height: 16px;
  padding: 8px 10px;
  margin: 0 0 10px;
  cursor: pointer;
  _padding: 6px 10px;/* For IE6 */
  _width: 276px;  /* For IE6 */
}
.tabPanel h3.tabActive {
  background: #009ADF url(../images/tab-panel-bground.png) no-repeat 0px -32px;
  cursor: auto;
  width: 268px;
  _width: 278px; /* For IE6 */
}
.tabPanel p {
  position: absolute;
  top: 0;
  right: 20px;
  width: 238px;
  height: 188px;
  border: 2px solid #009ADF;
  -webkit-border-radius:  0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;  
  border-radius: 0 8px 8px 0;  
  margin: 0;
  padding: 50px 300px 0 50px;
  font-weight: 700;
  background: #fff;
  
}
.tabPanel p img {
  position: absolute;
  bottom: 0;
  right: 20px;  
}
#fancybox-close {
  -pie-png-fix: true;
}



/* Internal pages */
#pageHeader {
  background: #f9f9f9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;  
  padding: 10px;
  overflow: hidden;  
}
#pageHeader p {
  font-weight: 700;
  font-size: 1.3em;  
}
#pageHeader #media {
  margin-left: 360px;
  _margin-left: 357px;
}
#introtext {
  float: left;
  width: 340px;
  overflow: hidden;
  color: #666;  
}
#leftCol {
  float: left;
  width: 560px;
  margin: 20px 0;  
  font-size: 0.8em;
  color: #333;
}
#rightCol {
  margin: 20px 0 20px 580px;  
}
#leftCol h2 {
  background: #f9f9f9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;  
  padding: 8px 40px 8px 8px;
  font-size: 1.4em;
  color: #0099DF;
  position: relative;
  cursor: pointer;
}
#leftCol p {  
  padding: 0.5em 10px;
  margin: 0;  
}
#leftCol ul {
  list-style: disc;
}
#leftCol li {
  list-style: disc inside none;
  padding: 5px 0 5px 20px;
}
.toggle {
  width: 25px;
  height: 25px;
  overflow: hidden;
  text-indent: -999px;
  background:url(../images/toggle.png) no-repeat 0px 0px;
  position: absolute; /* Ideally we'd float this right, but IE6/7 objects */
  top: 8px;
  right: 8px;
}
.toggleClosed { background-position: 0 -25px; }
.toggleContent {
  margin-bottom: 1em;
}
.toggleContent p {
}
#resourceContent {
  margin: 0 0 20px 360px;  
  font-size: 0.8em;
  padding: 18px 0 0 0;
}
#resourceContent p {    
  color: #333;
  margin: 0 200px 0 0;
}
#resourceContent li {
  overflow: hidden;
  margin: 0.7em 0;  
}
#resourceContent li a {
  float: left;
  line-height: 1.5;  
}
#resourceContent h2 {
  color: #0099DF;
  font-size: 1.7em;
  font-weight: 800;
  margin-bottom: 0;  
}
.resource {
  border-bottom: 1px solid #B2BFD3;
  padding: 0 0 10px; 
  margin: 0 0 10px; 
  overflow: hidden;
}
.resourceImage {
  float: right;  
  
}

/* Static pages */
#staticContent #content {
  border-top: 1px solid #E0E0E0;
  padding: 20px 0;
}
#staticContent p {
  font-size: 0.8em;
}


/* Forms */
.formRow {
  margin: 1.2em 0;  
}
.formRow label {
  margin: 0 0 5px 0;
  display: block; 
  width: 275px;  
}
#subForm {
  margin: 15px 0 0 0;
  background: url(../images/signuppage_image.png) no-repeat top right; 
  color: #666; 
}
#subForm input,
#subForm p {
  width: 275px; 
}
#subForm input.defaultValue {
  color: #999;  
}
#subForm p {
  font-size: 0.8em; 
  margin: 1em 0; 
  color: #666;
}
#subForm input.submit {
  width: auto;  
}


/* Inline pages (appear in a lightbox) */

body.inlinePage { background: #F2F2F2; color: #164982; text-align: left; padding: 20px; }
.inlinePage h3 { font-size: 1.5em; font-weight: bold; margin-top: 0; }
.inlinePage a, .inlinePage a:active, .inlinePage a:visited, .inlinePage a:link { color: #4486B4; }
.inlinePage p { margin-bottom: 1.2em; }
.inlinePage form { font-size: 0.8em; }
.inlinePage form dd { margin-bottom: 1em; }
.inlinePage form dt { font-weight: bold; }
.inlinePage input.field { color: #164982; border: 1px solid #CCC; padding: 3px; }


/* Text styles */
h1 {
  font-weight: 900;
  font-size: 1.8em;
  color: #0099DF;  
  margin: 0 0 0.5em 0;
  line-height: 1.2;
}
h2 {
  color: #065292;  
  font-weight: 700;
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
  line-height: 1.2;
}
h2 .hilight {
  color: #FF0090;
}
h3 {
  font-size: 1em; 
  margin: 1.5em 0 0 0;
  font-weight: bold; 
}
p {
  margin: 0.6em 0;
  line-height: 1.3;  
}
a {
  color: #4485B8;
  text-decoration: none;  
}
a:link { color: #4485B8; }
a:visited { color: #666666; }
a:hover { color: #5DB8FF; }
a:active { color: #5DB8FF; }
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;  
  padding: 5px;
  background: #eee;
}
strong {
  font-weight: bold;  
}

/* Buttons */

.bigButton {
  display: block;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 700;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  color:  #0099DF;
  text-align: center;
  background: #f0f0f0 url(../images/big-button-bground.png) repeat-x left center;
}
.bigButton .big {
  font-size: 1.4em;  
}
a.bigButton:hover { color:   #00B0FF; border: 1px solid #bbb; }

a.backLink {
  background: url(../images/back.png) no-repeat left center;
  padding: 0 0 0 22px;
  color: #009ADF !important;
  font-weight: 800;
  font-size: 1.2em;
}

a.moreButton,
.resource li a {
  _height: 18px;
  min-height: 18px;
  padding: 0 0 0 22px;
  background:url(../images/more-arrow.png) no-repeat center left;  
}

.hide {
  display: none;  
}

/* Manager */
body.mceContentBody  {
  text-align: left; 
  font-size: 0.9em; 
}



