* {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }

a {
  text-decoration: underline; }

#dev-site-warning {
  padding: 4px;
  background: rgba(255, 128, 128, 0.7);
  color: #000;
  text-align: center;
  font-size: 75%; }

#header ul {
  margin: 0;
  float: right;
  clear: right; }
  #header ul li {
    list-style: none; }

#content {
  padding: 1em 0; }

#footer {
  border-top: 1px solid #E0E0E0;
  padding-top: 1em; }
  #footer a {
    text-decoration: none; }

#mysociety_logo {
  float: right; }

/* form related */
form.standard {
  margin: 1em 0;
  font-family: "Arial", sans-serif; }
  form.standard p {
    margin: 0.5em 0; }
  form.standard label {
    display: inline-block;
    width: 8em;
    margin-right: 0.5em;
    text-align: right;
    vertical-align: top; }

ul.errorlist {
  color: #f00;
  margin: 0;
  padding: 0;
  padding-left: 9em; }
  ul.errorlist li {
    list-style: none;
    font-size: 90%;
    position: relative;
    top: 7px;
    /* nasty hack to put the error closer to the related field */ }

ul.plain li {
  list-style: none; }
  ul.plain li img {
    vertical-align: middle; }

ul.certificate_previews {
  float: right; }
  ul.certificate_previews li {
    margin: 2px;
    list-style: none; }

/* specific pages details */
li.ukonline_centre {
  list-style: url("/static/group.png"); }

li.ukonline_centre_add {
  list-style: url("/static/group_add.png"); }

li.certificate {
  list-style: url("/static/script.png"); }

li.certificate_add {
  list-style: url("/static/script_add.png"); }

ul.ukonline_tutors {
  padding: 0; }
  ul.ukonline_tutors li {
    list-style: none; }
  ul.ukonline_tutors li.ukonline_tutor {
    margin: 0;
    padding: 0.2em;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1em; }
  ul.ukonline_tutors li.tutor {
    list-style: url("/static/user.png"); }
  ul.ukonline_tutors li.email {
    list-style: url("/static/email.png"); }
  ul.ukonline_tutors li.telephone {
    list-style: url("/static/telephone.png"); }

div.pagination {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-width: 1px 0; }
  div.pagination img {
    vertical-align: middle; }
  div.pagination .previous_buttons, div.pagination .next_buttons {
    display: inline-block;
    min-width: 40px; }

img.centre_map {
  float: right;
  border: 1px solid #aaa;
  height: 200px;
  width: 200px; }

/* home page */
div.promo {
  float: left;
  margin: 0;
  padding: 0;
  width: 33%; }
  div.promo div.inner p {
    font-size: 1.3em; }

div.sign-up-form {
  float: left;
  margin: 0;
  padding: 0;
  width: 66%;
  background: url("/static/signuppage_image.png") right no-repeat; }
  div.sign-up-form div.inner {
    padding: 1em;
    width: 50%; }
    div.sign-up-form div.inner div.heading {
      font-size: 150%;
      text-align: center;
      margin-bottom: 0.5em; }
    div.sign-up-form div.inner form {
      font-family: "Arial", sans-serif; }
      div.sign-up-form div.inner form p {
        margin: 0 0 0.5em 0;
        padding: 0; }
      div.sign-up-form div.inner form label {
        display: block;
        font-size: 80%; }
      div.sign-up-form div.inner form input {
        display: block;
        font: inherit;
        width: 98%;
        box-shadow: 0px 0px 5px #000; }
      div.sign-up-form div.inner form ul.errorlist {
        margin: 0;
        padding: 0;
        float: right; }
        div.sign-up-form div.inner form ul.errorlist li {
          list-style: none;
          font-size: 80%;
          color: #c00; }

ul.select_centre {
  padding: 0; }
  ul.select_centre form {
    text-align: center;
    font-size: 150%; }
    ul.select_centre form input {
      font: inherit;
      vertical-align: middle; }
    ul.select_centre form input[type=text] {
      width: 6em; }
  ul.select_centre li {
    list-style: none;
    margin: 0;
    padding: 0.2em;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1em; }
  ul.select_centre img.small_centre_map {
    float: left;
    border: 1px solid #aaa;
    height: 80px;
    width: 160px;
    margin-right: 1em; }

div.action_button {
  float: right;
  clear: right;
  padding: 0.2em 0.5em;
  margin-bottom: 0.5em;
  font-size: 40px;
  color: #003d76;
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #003d76;
  box-shadow: 3px 3px 10px rgba(0, 61, 118, 0.5);
  border-radius: 10px;
  text-align: center; }
  div.action_button a {
    text-decoration: none;
    color: inherit; }

div.action_button:hover {
  cursor: pointer;
  text-decoration: underline; }
