{% extends 'base.html' %}

{% load ukonline_extras %}

{% block title %}Add a Centre{% endblock %}


{% block content %}

<h1>Find your centre</h1>

{% if error %}
    <div class="error">
        {{ error }}
    </div>
{% endif %}


<ul class="select_centre">

    <li>
        <form action="{% url tutordb.views.tutor.add_centre %}" method="get">
            <label for="form_postcode">Postcode:</label>
            <input type="text" name="postcode" id="form_postcode" value="{% firstof postcode %}" />
            <input type="submit" value="Search" />
        </form>
    </li>
    
{% for centre in object_list %}

    <li>
        <img class="small_centre_map" src="http://maps.google.com/maps/api/staticmap?zoom=13&amp;size=160x80&amp;maptype=roadmap&amp;markers={{ centre.latitude }},{{ centre.longitude }}&amp;sensor=false">
        <strong>{{ centre.name }}</strong><br >
        <small>{{ centre.address }}</small><br>
        <small>({{ centre.distance|to_miles }} from '{{ postcode }}')</small><br>
        <form style="display: inline;" action="{% url tutordb.views.tutor.add_centre %}" method="post">
            <input type="hidden" name="postcode"  value="{{ postcode }}"  />
            <input type="hidden" name="centre_id" value="{{ centre.id }}" />
            <input type="submit" value="Add “{{ centre.name }}” to your list">
        </form>
        <br clear="both">
    </li>

{% empty %}

    {% if postcode %}
    <li>No centres found near {{ postcode }} - sorry.</li>
    {% else %}
    <li>Please search for a postcode</li>
    {% endif %}

{% endfor %}
</ul>

{% endblock %}