{% extends 'base.html' %}


{% block title %}Centre List{% endblock %}


{% block content %}

<h1>UK Online Centres</h1>

{% if error %}
    <div class="error">
        {{ error }}
    </div>
{% endif %}

<form action="{% url tutordb.views.tutor.add_centre %}" method="get">
    <label for="form_postcode">Postcode:</label>
    <input type="text" name="postcode" id="form_postcode" value="{% firstof postcode %}" />
    <input type="submit" value="Search" />
</form>

<ul>
{% for centre in object_list %}

    <li>
        {{ centre.name }}
        <form style="display: inline;" action="{% url tutordb.views.tutor.add_centre %}" method="post">
            <input type="hidden" name="postcode"  value="{{ postcode }}"  />
            <input type="hidden" name="centre_id" value="{{ centre.id }}" />
            <input type="submit" value="Choose">
        </form>
    </li>

{% empty %}

    {% if postcode %}
    <li>No centres found near {{ postcode }} - sorry.</li>
    {% else %}
    <li>Please search for a postcode</li>
    {% endif %}

{% endfor %}
</ul>

{% include 'generic_pagination.html' %}

{% endblock %}