{% extends 'base.html' %}

{% load ukonline_extras %}

{% block title %}{{ centre.name }} Tutors{% endblock %}


{% block content %}

<h1>{{ centre.name }} Tutors</h1>

<a href="{% url tutordb.views.centre.centre_detail centre_id=centre.id %}">Back to centre overview</a>

<ul class="ukonline_tutors">
{% for tutor in object_list %}

    <li class="ukonline_tutor">
        <ul>
            <li class="tutor">{{ tutor.get_full_name }}</li>
            <li class="email"><a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a></li>
            <li class="telephone">{% firstof tutor.get_profile.phone '-' %}</li>
            
            {% for tenure in tutor.tenure_set.all %}
                <li class="ukonline_centre"><small>{{ tenure.centre.name }}</small></li>
            {% endfor %}
        </ul>
    </li>

{% empty %}

    <li>No tutors were found - sorry.</li>

{% endfor %}
</ul>

{% include 'generic_pagination.html' %}

{% endblock %}