{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}


<div class="promo">
    <div class="inner">
        <h1>Register here to become a UK&nbsp;Online Tutor!</h1>

        <p>Generate certificates.</p>
    </div>
</div>

<div class="sign-up-form">
    <div class="inner">
        
        <h2>Create Account</h2>

        <form action="{% url tutordb.views.index.index %}" method="post">

            {{ form.as_p }}

            <label for="form_submit">&nbsp;</label>
            <input type="submit" id="form_submit" value="Register" />
        </form>

    </div>
</div>


{% endblock %}