{% extends 'base.html' %}


{% block extra_head_tags %}
    <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Home{% endblock %}


{% block content %}


<div class="promo">
    <div class="inner">
        Register here<br>
        to become a<br>
        UK&nbsp;Online Tutor!
    </div>
</div>

<div class="sign-up-form">
    <div class="inner">
        
        <div class="heading">Create Account</div>

        <form action="{% url tutordb.views.tutor.index %}" method="post">

            {{ form.as_p }}

            <label for="form_submit">&nbsp;</label>
            <input type="submit" id="form_submit" value="Register" />
        </form>

    </div>
</div>


{% endblock %}