{% extends 'base.html' %}


{% block title %}Your details{% endblock %}


{% block content %}

<h1>You!</h1>


<div class="action_button">
    <a href="{% url certificates.views.index %}">Make a certificate<br>to reward a learner</a>
</div>


<ul class="plain">
    <li>
        <img src="/static/user.png" width="16" height="16" alt="Name">
        {% firstof user.get_full_name 'none yet' %}
    </li>

    <li>
        <img src="/static/email.png" width="16" height="16" alt="Email">
        {{ user.email }}
    </li>

    <li>
        <img src="/static/telephone.png" width="16" height="16" alt="Telephone">
        {{ user.phone }}
    </li>

    <li>
        <a href="{% url tutordb.views.my.edit_tutor_details %}">
            <img src="/static/pencil.png" width="16" height="16" alt="Edit">
            Edit details
        </a>
    </li>
</ul>

<h2>Your Centres</h2>

<ul>
    {% for centre in centres %}
        <li class="ukonline_centre">
            <a href="{% url tutordb.views.centre.centre_detail centre_id=centre.id %}">{{ centre.name }}</a>
        </li>
    {% empty %}
        <li class="ukonline_centre">No centres added yet</li>
    {% endfor %}
        <li class="ukonline_centre_add"><a href="{% url tutordb.views.my.add_centre %}">Add a centre</a></li>
</ul>

<h2>Recent Certificates</h2>

<ul>
    {% for certificate in certificates %}
        <li class="certificate">
            <a href="{% url certificates.views.display certificate_id=certificate.id %}">{{ certificate.student_name }} ({{ certificate.course_name}})</a>
        </li>
    {% empty %}
        <li class="certificate">No certificates created yet</li>
    {% endfor %}
        <li class="certificate_add"><a href="{% url certificates.views.create %}">Create a certificate</a></li>
</ul>


{% endblock %}