{% extends 'base.html' %}

{% load url_with %}
{% load ukonline_extras %}

{% block title %}Tutor List{% endblock %}


{% block content %}

<h1>UK Online Tutors</h1>

<ul class="ukonline_centres">
{% for centre in object_list %}

    <li class="ukonline_centre"><a href="{% url tutordb.views.tutor.tutor_list centre_id=centre.id %}">{{ centre.name }}</a></li>

{% empty %}

    <li>No centres were found that you may view tutors in - sorry.</li>

{% endfor %}
</ul>

{% include 'generic_pagination.html' %}

{% endblock %}