<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>{% block title %}{% endblock %} :: UK Online Centres</title>
    </head>
    <body>

        <div id="menu">
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        {{ user.email }}
                        (<a href="{% url django.contrib.auth.views.logout %}">logout</a>)
                    </li>
                {% else %}
                    <li><a href="{% url django.contrib.auth.views.login %}">login</a></li>
                {% endif %}
            </ul>
        </div>

        <hr />

        <div id="content">
            {% block content %}
                Replace this with proper content.
            {% endblock %}    
        </div>

        <hr />

        <div id="footer">
            <p>footer</p>
        </div>


    </body>
</html>
