config = dict(
    UKONLINETUTORDB_DB_NAME = 'ukonlinetutordb',         # Name of your postgres database
    UKONLINETUTORDB_DB_USER = 'me',          # Postgres user to connect with
    UKONLINETUTORDB_DB_PASS = 'very_secret', # Password for postgres
    UKONLINETUTORDB_DB_HOST = 'localhost',   # host for postgres
    UKONLINETUTORDB_DB_PORT = 5432,          # port for postgres
    
    # Probably doesn't need changing.
    MAPIT_URL = 'http://mapit.mysociety.org/',
    STAGING = True,
    
    # Set this to some random stuff yourself
    DJANGO_SECRET_KEY = 'xonkxcxuekhtoekoeuoekeuoiuoioui',

    # get a key from http://www.ukonlinecentres.com/services/
    UKONLINE_SERVICES_API_KEY = '',
)
