{% extends 'base.html' %}


{% block title %}{{ object }}{% endblock %}


{% block content %}


<h1>{{ object }}</h1>

<div class="action_button">
    <a href="{% url certificates.views.display_as_pdf certificate_id=object.id %}">View as PDF</a>
</div>

<div class="action_button">    
    <a href="{% url certificates.views.create %}?base_on={{ object.id }}">Clone</a>
</div>

<dl>
    <dt>Student:</dt>
    <dd>{{ object.student_name }}</dd>

    <dt>Tutor:</dt>
    <dd>{{ object.tutor_name }}</dd>

    <dt>Course:</dt>
    <dd>{{ object.course_name }} ({{ object.course_blurb }})</dd>

    <dt>Centre:</dt>
    <dd>{{ object.centre.name }}</dd>

    <dt>Date Awarded:</dt>
    <dd>{{ object.date_awarded }}</dd>

</dl>


{% endblock %}