{% extends 'base.html' %}


{% block title %}Edit Certificate{% endblock %}


{% block content %}

<ul class="certificate_previews">
    <li>
        <img src="/static/preview_pcb_green.jpg" title="Green PCB" />
    </li>
    <li>
        <img src="/static/preview_pcb_red.jpg" title="Red PCB" />
    </li>
</ul>

<form class="standard" action="" method="post">

    {{ form.as_p }}

    <label for="form_submit">&nbsp;</label>
    <input type="submit" id="form_submit" value="Save Certificate" />

</form>

<p>NOTE: The course blurb should mention the main topics covered. Around 30 words is about right.</p>

{% endblock %}