{% extends 'admin/base_site.html' %}
{% load i18n %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
       <a href="../">
           Certificates
      </a>
      &rsaquo;
      {% trans "Summarise course titles" %}
    </div>
  {% endblock %}
{% endif %}

{% block content %}
<div id="content-main">

{% if certificates %}
<table class="module">
    <thead>
    <tr>
        <th>Course Title</th>
        <th>Certificates issued</th>
    </tr>
    </thead>
    <tbody>
{% for cert in certificates %}
<tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ cert.course_name }}</td>
        <td>{{ cert.num_title }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>
No certificates to summarise
</p>
{% endif %}

</div>
{% endblock %}
